.*.swp
.DS_Store
src/markdeck/assets/3rdparty/
src/markdeck/assets/framework/
src/downloaded/
src/markdeck/helper/downloaded/
src/markdeck/lib/ditaa.jar
src/markdeck/lib/plantuml.jar
src/markdeck/lib/emojis/
src/docker-compose.yaml
src/develop.yaml
deck/
.uuid
src/images.built
tmp/target
src/ve
src/tmp
target
src/attic
src/docroot/main/assets/3rdparty/
example/node_modules/
src/docroot/main/