@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Inconsolata-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/EBGaramond12-Regular.ttf") format('truetype');
}

body.impress-enabled {
    background: #fff;

    #impress {
        * {
            font-family: "EB Garamond", sans-serif;
        }

        section {
            * {
                font-size: 100%;
            }
            h1 {
                font-size: 140%;
            }
        }

        a {
            background: none;
            text-shadow: none;
            text-decoration: underline;
            font-size: 80%;
        }

        small {
            font-size: 60%;
        }

        .flush-right {
            text-align: right;
        }

        div pre.asciinema-terminal * {
            font-family: "Inconsolata", monospace;
            font-size: 80%;
        }

        code {
            font-family: "Inconsolata";
        }

        .has-dark-background {
            color: #fff;
        }

        .step {
            text-align: center;
            opacity: 1;
        }

        .step.active {
            opacity: 1;
        }

        .step.onlywhenactive {
            opacity: 0;
            transitian: opacity 1s;
        }

        .step.onlywhenactive.active {
            opacity: 1;
        }

        .step.radialbg {
            background: rgb(0,212,255);
            background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%);
        }

        .step.right, .left, .bottom, .top {
            padding: 1ex;
            margin: 0;
        }

        .step.right {
            text-align: right;
        }

        .step.left {
            text-align: left;
        }

        .step.bottom {
            vertical-align: bottom;
        }

        .step.top {
            vertical-align: top;
        }
    }
}

