@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Inconsolata-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "xkcd Script";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/xkcd-script.ttf") format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Raleway-Regular.ttf") format('truetype');
}
@import "fontawesome.css";
