img.emoji {
  width: 1.1em;
  height: 1.1em;
  padding: 0;
  margin: 0;
  vertical-align: baseline; }

.rerendering-message {
  display: none;
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  color: white;
  font-size: 200%;
  text-shadow: 2px 2px #000000; }

.markdeck-logo {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 8px;
  height: 8px;
  font-size: 10px;
  color: #5550;
  z-index: 1; }
  .markdeck-logo a {
    color: #333a;
    text-shadow: 1px 1px #bbba;
    background: none;
    text-decoration: none; }

.light-on-dark, section.light-on-dark h1 {
  color: #fff;
  text-shadow: 0px 1px #000; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal div {
  font-family: sans-serif; }

.reveal h1 {
  font-size: 1.4em; }

.reveal h2 {
  font-size: 0.8em; }

.reveal .license {
  font-size: 12pt; }

.reveal section img {
  border: 0;
  background: transparent; }

.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.5em; }

.reveal .controls .navigate-up.enabled {
  border-bottom-color: #444; }

.reveal .controls .navigate-down.enabled {
  border-top-color: #444; }

.reveal .controls .navigate-right.enabled {
  border-left-color: #444; }

.reveal .controls .navigate-left.enabled {
  border-right-color: #444; }

.reveal .progress span {
  background: #444; }

.reveal section img {
  box-shadow: none; }

.slide-background {
  background-size: cover !important;
  background-repeat: no-repeat; }

.reveal img.emoji {
  width: 1.1em;
  height: 1.1em;
  padding: 0;
  margin: 0;
  vertical-align: baseline; }

section.has-dark-background.colorfull a {
  color: AliceBlue; }

.flush-text-left {
  text-align: left; }

.rerendering-message {
  display: none; }
