@import "commoncommon";

.reveal .license {
    font-size: 12pt;
}

.reveal .footer {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.5em;
}

.reveal img.emoji {
    width: 1.1em;
    height: 1.1em;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    box-shadow: none;
}

.flush-text-left {
    text-align: left;
}

.rerendering-message {
    display: none;
}

.reveal section img {
    border: 0;
    background: transparent;
}

