@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/EBGaramond12-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/Raleway-Regular.ttf") format('truetype');
}

html, *{
    font-family: "Raleway", sans-serif;
}

h1, h2, h3 {
    font-family: "EB Garamond", serif;
}

.bggrey {
    background: #112233;
    background: linear-gradient(to left, #4CA1AFEE, #2C3E50EE);
    color: white;
}

.bggrey a {
    color: white;
}

.small {
    font-size: 50%;
}

.hero {
    font-size: 144%;
}

.section {
    padding: calc(4 * var(--universal-padding)) calc(8 * var(--universal-padding));
}

:root {
    --footer-link-color: white;
    --heading-ratio: 1.4;`
}

header {
    padding: calc(0 * var(--universal-padding)) calc(8 * var(--universal-padding));
}
