@import "common";

body.impress-enabled {
    background: #f8f8f8;

    #impress {
        section > * {
            font-size: 100%;
        }

        section {
            h1 {
                font-size: 140%;
            }
            img {
                max-width: 100%;
            }
            svg {
                font-size: 80%;
            }
        }

        a {
            background: none;
            text-shadow: inherit;
            text-decoration: inherit;
            font-size: 80%;
        }

        small {
            font-size: 60%;
        }

        .flush-right {
            text-align: right;
        }

        asciinema-player * {
            font-family: "Inconsolata", monospace;
            font-size: 80%;
        }

        .asciinema-player .line {
            height: 1em;
            line-height: 1em;
        }

        code {
            font-family: "Inconsolata";
        }

        .has-dark-background {
            color: #fff;
        }

        .step {
            font-family: "Raleway", sans-serif;

            .line-block {
                font-family: "Raleway", sans-serif;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: "EB Garamond Bold", serif;
            }

            text-align: center;

            .hljs {
                text-align: left;
            }
        }

        .step.onlywhenactive {
            opacity: 0;
        }

        .step.onlywhenactive.active {
            opacity: 1;
        }

        .step.radialbg {
            background: rgb(0,212,255);
            background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%);
        }

        .step.right, .step.left, .step.bottom, .step.top {
            padding: 1ex;
            margin: 0;
        }

        .step.right {
            text-align: right;
        }

        .step.left {
            text-align: left;
        }

        .step.bottom {
            vertical-align: bottom;
        }

        .step.top {
            vertical-align: top;
        }

        .step.xkcd {
            font-family: "xkcd Script";
        }

        .step pre {
            display: block;
            position: relative;
            width: 90%;
            margin: 20px auto;
            text-align: left;
            font-size: 0.55em;
            line-height: 1.2em;
            word-wrap: break-word;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        }

        .step code {
            text-transform: none;
        }

        .step pre code {
            display: block;
            padding: 5px;
            overflow: auto;
            max-height: 400px;
            word-wrap: normal;
        }

    }
}

body.impress-on-overview {
    #impress {
        section.step {
            opacity: 1;
        }
    }
}

.sea-gradient { @include sea-gradient; }
.sky-gradient-13 { @include sky-gradient-13; }

body.impress-enabled #impress .step.inline pre {
    display: inline-block;
    vertical-align: middle;
}
