@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Inconsolata-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/EBGaramond12-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "xkcd Script";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/xkcd-script.ttf") format('truetype');
}

body.impress-enabled {
    background: #fff;

    #impress {
        h1, h2, h3, h4, h5, h6, div {
            font-family: "EB Garamond", sans-serif;
        }

        section > * {
            font-size: 100%;
        }

        section {
            h1 {
                font-size: 140%;
            }
            img {
                max-width: 100%;
            }
            svg {
                font-size: 80%;
            }
        }

        a {
            background: none;
            text-shadow: none;
            text-decoration: none;
            font-size: 80%;
        }

        small {
            font-size: 60%;
        }

        .flush-right {
            text-align: right;
        }

        asciinema-player * {
            font-family: "Inconsolata", monospace;
            font-size: 80%;
        }

        .asciinema-player .line {
            height: 1em;
            line-height: 1em;
        }

        code {
            font-family: "Inconsolata";
        }

        .has-dark-background {
            color: #fff;
        }

        .step {
            text-align: center;
            opacity: 1;

            .hljs {
                text-align: left;
            }
        }

        .step.active {
            opacity: 1;
        }

        .step.onlywhenactive {
            opacity: 0;
            transitian: opacity 1s;
        }

        .step.onlywhenactive.active {
            opacity: 1;
        }

        .step.radialbg {
            background: rgb(0,212,255);
            background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 90%, rgba(2,0,36,1) 100%);
        }

        .step.right, .step.left, .step.bottom, .step.top {
            padding: 1ex;
            margin: 0;
        }

        .step.right {
            text-align: right;
        }

        .step.left {
            text-align: left;
        }

        .step.bottom {
            vertical-align: bottom;
        }

        .step.top {
            vertical-align: top;
        }

        .step.xkcd {
            font-family: "xkcd Script";
        }

        .step pre {
            display: block;
            position: relative;
            width: 90%;
            margin: 20px auto;
            text-align: left;
            font-size: 0.55em;
            line-height: 1.2em;
            word-wrap: break-word;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        }

        .step code {
            text-transform: none;
        }

        .step pre code {
            display: block;
            padding: 5px;
            overflow: auto;
            max-height: 400px;
            word-wrap: normal;
        }

    }
}

